$white: white;
$black: black;

$primary: #4890ff;
$orange: #ff6c37;
$success: #0b6622;
$warning: #ffc100;
$error: #ff3b30;

$yellow: $warning;
$green: $success;
$red: $error;
$blue: $primary;

$blue-line-gradient-dark: $primary;
$blue-line-gradient-light: #007bff;

$orange-line-gradient-dark: #ff6c37;
$orange-line-gradient-light: #ffa100;

$black-line-gradient-dark: $black;
$black-line-gradient-light: #2f2f2f;
